.magazine-template{
    width: 80%;
}
.indexer_bottom-left.side-foot {
    overflow-wrap: break-word;
    text-align: left;
    background: #585858;
    color: #fff !important;
    padding: 10px;
    border-radius: 10px;
}
.index-footer-section {
    overflow-wrap: break-word;
    text-align: left;
}
.ql-size-small {
    font-size: 10px;
}
.page-content-area p {
    margin-bottom: 2px;
}
.index_box-container {
    min-height: 80vh;
}
h3.index-heading-title {
    text-align: left;
    color: #f40c3d;
    font-weight: 800;
    font-size: 60px;
}
.magazine-template span.badge.bg-secondary.rounded-pill {
    background: #f40c3d !important;
}